{% macro render(tomorrowAppointments, todayAppointments, licenceExpiredFormatted, isLicenceChanged) %}
  {% if todayAppointments | length > 0 or tomorrowAppointments | length > 0 or licenceExpiredFormatted or isLicenceChanged %}
    <div class="govuk-!-margin-bottom-4" data-qa="overview-alert-box">
      <div
        class="govuk-notification-banner"
        role="region"
        aria-labelledby="govuk-notification-banner-title"
        data-module="govuk-notification-banner"
      >
        <div class="govuk-notification-banner__header">
          <p class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            {{ t('overview-alert-important') }}
          </p>
        </div>
        <div class="govuk-notification-banner__content">
          {% if todayAppointments | length > 0 %}
            <p class="govuk-notification-banner__heading" data-qa="alert-box-today-msg">
              {{ t('overview-alert-you-have') }}
              <a href="/appointments">{{ todayAppointments.length }}</a>&nbsp;
              {{ todayAppointments | pluraliseAppointments }}
              {{ t('overview-alert-today') }}.
            </p>
          {% elif tomorrowAppointments | length > 0 %}
            <p class="govuk-notification-banner__heading" data-qa="alert-box-tomorrow-msg">
              {{ t('overview-alert-you-have') }}
              <a href="/appointments">{{ tomorrowAppointments.length }}</a>&nbsp;
              {{ tomorrowAppointments | pluraliseAppointments }}
              {{ t('overview-alert-tomorrow') }}.
            </p>
          {% endif %}
          {% if licenceExpiredFormatted %}
            <p class="govuk-notification-banner__heading" data-qa="alert-box-licence-expired-msg">
              {{ t('licence-conditions-expired') }}
              {{ licenceExpiredFormatted }}.
            </p>
          {% elif isLicenceChanged %}
            <p class="govuk-notification-banner__heading" data-qa="alert-box-licence-changed-msg">
              {{ t('licence-conditions-changed-1') }}
              <a href="/licence-conditions">{{ t('licence-conditions-changed-2') }}</a>
            </p>
          {% endif %}
        </div>
      </div>
    </div>
  {% endif %}
{% endmacro %}
