 {% macro render(appointment, showNotes) %}

 <div class="govuk-grid-column-full" data-qa="appointment-box">
        <div class="govuk-grid-row appsubpanel govuk-!-margin-bottom-4">
          <div class="govuk-grid-column-full">
            <section id="licence" class="app-summary-card govuk-!-margin-bottom-4">
              <header class="app-summary-card__header">
                <h3 class="govuk-heading-m app-summary-card__title govuk-!-margin-bottom-0">{{appointment.date | formatDate}}
                  <span class="govuk-caption-m">{{appointment.time | formatTime }}
                      {% if appointment.duration %}
                         - {{ appointment.time | formatTime(appointment.duration) }}
                      {% endif %}
                  </span>
                </h3>
              </header>
              <div class="app-summary-card__body govuk-!-padding-4">
                <h3 class="govuk-heading-s govuk-!-margin-bottom-1">{{appointment.title}}</h3>
                {% if appointment.location | formatAppointmentLocation %}
                  <p class="govuk-body-s">
                    {{ appointment.location | formatAppointmentLocation }}
                  </p>
                  <p class="govuk-body-s">
                    <a href="{{ appointment.location | mapsLinkFromAppointmentLocation }}" target="_blank">
                    View on Google maps</a>
                  </p>
                {% else %}
                  <p class="govuk-body-s">No location available</p>
                {% endif %}

                <p class="govuk-body-s">Contact: {{appointment.contact}}
                {% if appointment.contactEmail %}
                (email: {{appointment.contactEmail}})
                {% endif %}</p>
                {% if showNotes == true %}
                  <h4 class="govuk-heading-s govuk-!-padding-top-2">Notes</h4>
                  <p class="govuk-body-s">
                  {% if appointment.note | formatAppointmentNote %}
                    {{appointment.note}}
                  {% else %}
                  No notes available
                  {% endif %}
                  </p>
                {% else %}
                  <a id="view-details-link" href="/appointments/{{appointment.id}}">View details</a>
                {% endif %}
              </div>
            </section>
          </div>
        </div>
      </div>
{% endmacro %}