{% extends "govuk/template.njk" %}

{% block head %}
  <link href="/assets/stylesheets/application.css?{{ version }}" rel="stylesheet"/>
{% endblock %}

{% block pageTitle %}{{pageTitle | default(applicationName)}}
{% endblock %}

{% block header %}
  {% include "./header.njk" %}
{% endblock %}

{% block bodyStart %}{% endblock %}

{% block beforeContent %}
  <aside role="complementary">
    {% include "./phasebanner.njk" %}
    {% block aside %}{% endblock %}
  </aside>
  <span class="govuk-visually-hidden" id="{{ pageId }}"></span>
{% endblock %}

{% block footer %}
  {{ govukFooter({
    meta: {
      items: [
        {
          href: "/accessibility" + appendLanguage(queryParams),
          text: t('footer-accessibility'),
          attributes: {'data-qa': 'accessibility-link'}
        },
        {
          href: "/cookies" + appendLanguage(queryParams),
          text: t('footer-cookies'),
          attributes: {'data-qa': 'cookies-link'}
        },
        {
          href: "/feedback" + appendLanguage(queryParams),
          text: t('footer-feedback'),
          attributes: {'data-qa': 'feedback-link'}
        },
        {
          href: "https://www.gov.uk/help/privacy-notice",
          text: t('footer-privacy'),
          attributes: {'data-qa': 'privacy-policy-link'}
        }
      ]
    }
  }) }}
{% endblock %}

{% block bodyEnd %}
  <script type="module" src="/assets/govukFrontendInit.js"></script>
  <script src="/assets/moj/all.js"></script>
  <script src="/assets/mojFrontendInit.js"></script>
  <script src="/assets/govukCookies.js"></script>
{% endblock %}
