{% extends "govuk/template.njk" %}

{% block head %}
  <link href="/assets/stylesheets/application.css?{{ version }}" rel="stylesheet"/>
  <script nonce="{{ cspNonce }}">
    window['ga-disable-UA-26179049-1'] = true;
    window.deleteCookie('_ga')
    console.log("Deleted ga cookie")
  </script>
{% endblock %}

{% block pageTitle %}{{pageTitle | default(applicationName)}}
{% endblock %}

{% block header %}
  {% include "./header.njk" %}
{% endblock %}

{% block bodyStart %}{% endblock %}

{% block beforeContent %}
  <aside role="complementary">
    {% include "./phasebanner.njk" %}
    {% block aside %}{% endblock %}
  </aside>
  <span class="govuk-visually-hidden" id="{{ pageId }}"></span>
{% endblock %}

{% block bodyEnd %}
  <script type="module" src="/assets/govukFrontendInit.js"></script>
  <script src="/assets/moj/all.js"></script>
  <script src="/assets/mojFrontendInit.js"></script>
{% endblock %}