  {%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}
  {{ mojSubNavigation({
    label: t('subnav-label'),
    items: [{
      text: t('subnav-signout'),
      href: '/sign-out',
      attributes: {'data-qa': "signOut"}
    }]
  }) }}