<div class="govuk-grid-row govuk-!-padding-bottom-8">
    <div class="govuk-grid-column-one-quarter">
        {% if hidemenu == "yes" %}
        &nbsp;
        {% else %}

        <p class="govuk-body-s">
            <a href="menu.html">Menu</a>
        </p>
        {% endif %}
    </div>
    <div class="govuk-grid-column-one-half center">
        <img src="/assets/images/icon-compass.svg" class="logo" alt="logo">
        <h1 class="govuk-heading-xl center">
            <a href="#" class="govuk-link--no-underline">Compass</a>
        </h1>

    </div>
    <div class="govuk-grid-column-one-quarter textright">
        <p class="govuk-body-s">
        </p>
    </div>
</div>