{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
    tag: {
        text: "BETA"
    },
    html: t('phase-banner-text')
}) }}
<hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-top-0 ">