 {%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}
 
  {{ mojSubNavigation({
    label: 'Sub navigation',
    items: [{
      text: 'Home',
      href: '/dashboard',
      active: activePage == 'dashboard'
    }, {
      text: 'Appointments',
      href: '/appointments',
      active: activePage == 'appointments'
    }, {
      text: 'Licence conditions',
      href: '/licence-conditions',
      active: activePage == 'licence-conditions'
    }, {
      text: 'Profile',
      href: '/profile',
      active: activePage == 'profile'
    }, {
      text: 'Settings',
      href: '/settings',
      active: activePage == 'settings'
    }, {
      text: 'Sign out',
      href: '/sign-out',
      attributes: {'data-qa': "signOut"}
    }]
  }) }}