{% extends "./partials/layout.njk" %}

{% block content %}
  <h1 class="govuk-heading-xl govuk-!-margin-top-4" data-qa="auth-error-title"> {{ t('authorisation-error-h1') }}</h1>
  <p>{{ t('authorisation-error-p') }}</p>
{% endblock %}
