.govuk-main-wrapper {
  min-height: 400px;
  padding-top: 0px;
}

.govuk-phase-banner {
  margin-left: 0px;
  margin-right: 0px;
}

.govuk-table__header, .govuk-table__cell {
  p {
    margin-bottom: 0 !important;
  }
}

.hidden {
  display: none;
}
