.govuk-main-wrapper {
  min-height: 400px;
  padding-top: 0px;
}

.govuk-phase-banner {
  margin-left: 0px;
  margin-right: 0px;
}

.app-summary-card {
  border: 1px solid #b1b4b6;
}


.app-summary-card .app-summary-card__header {
    background-color: #f3f2f1;
    padding: 1rem;
}