astropy==6.1.0
astropy-iers-data==0.2024.6.3.0.31.14
certifi==2024.6.2
charset-normalizer==3.3.2
greenlet==3.0.3
idna==3.7
iniconfig==2.0.0
joblib==1.4.2
numpy==1.26.4
packaging==24.0
playwright==1.44.0
pluggy==1.5.0
pyee==11.1.0
pyerfa==2.0.1.4
pytest==8.2.2
PyYAML==6.0.1
requests==2.32.3
scikit-learn==1.5.0
scipy==1.13.1
setuptools==70.0.0
six==1.16.0
threadpoolctl==3.5.0
typing_extensions==4.12.1
urllib3==2.2.2
wheel==0.43.0
zap==2.1
zaproxy==0.3.2
