{% extends "../partials/layout.njk" %}
{% import "../partials/appointmentMacro.njk" as appointmentMacro %}

{% set pageTitle = "Appointments" + titleHeading %}

{% block beforeContent %}
  {% set activePage = 'appointments' %}
  {% include "../partials/subnavigation.njk" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl" data-qa="appointments-page-title">{{ t('appointments-h1') }}</h1>
      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-visually-hidden">Warning</span>
          {{ t('appointments-warning-text') }}
          <p class="govuk-!-padding-top-4">{{ t('appointments-paragraph-1') }}</p>
        </strong>
      </div>
    </div>
  </div>

  <div class="govuk-grid-row govuk-!-padding-bottom-8">
    <!-- Future appointments -->
    {% if futureAppointments | length < 1 %}
      <div class="govuk-grid-column-two-thirds" data-qa="appointment-empty-box">
        <p>{{ t('appointments-no-appointments-text') }}</p>
      </div>
    {% endif %}
    {% for item in futureAppointments %}
    <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-6">

      {% set currentFormatDate = item.date | formatDate(queryParams.lang) %}
      {% set previousFormatDate = futureAppointments[loop.index0 - 1].date | formatDate(queryParams.lang) if loop.index0 > 0 else null %}

      {% if loop.index0 == 0 or currentFormatDate != previousFormatDate %}
        <h2 class="govuk-heading-m govuk-!-margin-top-4" data-qa="{{ loop.index }}-appointment-date">{{ currentFormatDate }}</h2>
      {% endif %}

      {{ appointmentMacro.render(item, loop.index, true, queryParams.lang) }}
    </div>
    {% endfor %}

    <!-- Past appointments -->
    {% if oldAppointments | length > 0 %}
      <div class="govuk-grid-column-two-thirds govuk-!-padding-top-8">
        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text" data-qa="view-older-appointments" >{{ t('appointments-view-older-appointments-text') }}</span>
          </summary>
          <div class="govuk-details__text">
            {% for oldItem in oldAppointments %}
              {% set currentFormatDate = oldItem.date | formatDate(queryParams.lang) %}
              {% set previousFormatDate = oldAppointments[loop.index0 - 1].date | formatDate(queryParams.lang) if loop.index0 > 0 else null %}

              {% if loop.index0 == 0 or currentFormatDate != previousFormatDate %}
                <h2 class="govuk-heading-m govuk-!-margin-top-4" data-qa="{{ loop.index }}-old-appointment-date">{{ currentFormatDate }}</h2>
              {% endif %}
              
              {{ appointmentMacro.render(oldItem, loop.index, queryParams.lang) }}
              {% if loop.index < oldAppointments.length %}
              </br>
            {% endif %}
          {% endfor %}
        </div>
      </details>
    </div>
  {% endif %}
</div>

{% endblock %}

{% block bodyEnd %}
<script src="/assets/sessionMonitor.js"></script>
{% endblock %}