{% extends "../partials/layout.njk" %}
{% import "../partials/appointmentMacro.njk" as appointmentMacro %}

{% block content %}

  {% set activePage = 'appointments' %}
  {% include "../partials/subnavigation.njk" %}

  <div class="govuk-grid-row govuk-!-padding-bottom-8">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">Appointments</h1>
      <p>Tell your offender manager if you have a problem attending any appointment as soon as you can.</p>
      <p>If you miss an appointment without a good reason it could break your licence conditions.</p>
    </div>
  </div>

  <div class="govuk-grid-row govuk-!-padding-bottom-8">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-m">Your appointments</h2>
    </div>

    <!-- Next appointments Begin -->

    {% if appointments | length < 1 %}
      <div class="govuk-grid-column-full" data-qa="appointment-empty-box">
        <p>Currently you have no future appointments</p>
      </div>
    {% endif %}
    {% for item in appointments %}
      {{ appointmentMacro.render(item, false) }}
    {% endfor %}
    <!-- Next appointments End -->

    <!-- Older appointments Begin -->
    {% if oldAppointments | length > 0 %}
      <div class="govuk-grid-column-full govuk-!-padding-top-8">
        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text" data-qa="view-older-appointments" >View older appointments</span>
          </summary>

          {% for oldItem in oldAppointments %}
            <div class="govuk-details__text">
              <section class="app-summary-card govuk-!-margin-bottom-4">

                <header class="app-summary-card__header">
                  <h3 class="govuk-heading-m app-summary-card__title govuk-!-margin-bottom-0">{{oldItem.date | formatDate}}</h3>
                </header>
                <div class="app-summary-card__body govuk-!-padding-4">
                  <span class="govuk-body-m">{{oldItem.time | formatTime }}
                  {% if appointment.duration %}
                    - {{ appointment.time | formatTime(appointment.duration) }}
                  {% endif %}
                  </span>
                  <p>
                    <b>{{oldItem.title}}</b><br>
                    {% if oldItem.location | formatAppointmentLocation %}
                      <span class="govuk-body-s">
                        {{ oldItem.location | formatAppointmentLocation }}</span>
                    {% else %}
                      <span class="govuk-body-s">No location available</span>
                    {% endif %}
                  </p>
                </div>
              </section>
            </div>
          {% endfor %}

        </details>
      </div>
    {% endif %}
    <!-- Older appointments End -->
  </div>

{% endblock %}