{% extends "../partials/layout.njk" %}
{% import "../partials/appointmentMacro.njk" as appointmentMacro %}

{% block content %}

  {% set activePage = 'appointments' %}
  {% include "../partials/subnavigation.njk" %}

  <div class="govuk-grid-row govuk-!-padding-bottom-8">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">Appointments</h1>
      <p>Tell your offender manager if you have a problem attending any appointment as soon as you can.</p>
      <p>If you miss an appointment without a good reason it could break your licence conditions.</p>
    </div>
  </div>

  <div class="govuk-grid-row govuk-!-padding-bottom-8">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-m">Your appointments</h2>
    </div>

    <!-- Next appointments Begin -->

    {% if appointments | length < 1 %}
      <div class="govuk-grid-column-full" data-qa="appointment-empty-box">
        <p>Currently you have no future appointments</p>
      </div>
    {% endif %}
    {% for item in appointments %}
     {{ appointmentMacro.render(item, false) }}
    {% endfor %}
     <!-- Next appointments End -->

    <!-- Older appointments Begin -->
    {% if oldAppointments | length > 0 %}
    <div class="govuk-grid-column-full govuk-!-padding-top-8">
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text" data-qa="view-older-appointments" >View older appointments</span>
        </summary>

        {% for oldItem in oldAppointments %}
        <div class="govuk-details__text">
          <h2 class="govuk-heading-m">{{oldItem.date | formatDate }}</h2>
          <div class="govuk-grid-row appsubpanel govuk-!-margin-bottom-2">
            <div class="govuk-grid-column-full">
              <span class="govuk-body-m">{{oldItem.time | formatTime }}</span>
              <p>
                <b>{{oldItem.title}}</b><br>
                {% if oldItem.location | formatAppointmentLocation %}
                  <span class="govuk-body-s"> {{ oldItem.location | formatAppointmentLocation }}</span>
                {% else %}
                  <span class="govuk-body-s">No location available</span>
                {% endif %}
              </p>
            </div>
          </div>
          <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-top-0 ">
        </div>
       {% endfor %}

      </details>
    </div>
    {% endif %}
    <!-- Older appointments End -->
  </div>

{% endblock %}