{% extends "../partials/layout.njk" %}

{% block content %}
  {% if user %}
    {% include "../partials/limited-subnavigation.njk" %}
  {% else %}
    <p class="govuk-!-margin-bottom-6">
    {% endif %}
  <h1 class="govuk-heading-xl govuk-!-margin-top-4" data-qa="auth-error-title"> {{ t('authorisation-error-h1') }}</h1>
  {% if user %}
    <p>{{ t('authorisation-error-p-with-user') }}</p>
  {% else %}
    <p>{{ t('authorisation-error-p') }}</p>
  {% endif %}
{% endblock %}
