{% extends "../partials/layout.njk" %}

{% set pageTitle = page.title + titleHeading %}

{% block content %}

    <div class="govuk-grid-row govuk-!-margin-top-8">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl" data-qa="accessibility-page-title">{{ page.title }}</h1>
        </div>
    </div>

    <div class="govuk-grid-row govuk-!-padding-bottom-4">

        <div class="govuk-grid-column-two-thirds">
            {{ page.bodyText | safe }}
        </div>

        {% if page.relatedContent or page.helpAndAdvice %}
            <div class="govuk-grid-column-one-third">
                <div class="gem-c-contextual-sidebar">
                    <div class="gem-c-related-navigation">
                        <br>
                        {% if page.relatedContent %}
                            <aside class="govuk-prototype-kit-common-templates-related-items">
                                <h3 class="govuk-heading-s" id="subsection-title1">{{ t('generic-page-related') }}</h3>
                                <nav>
                                    <ul class="govuk-list govuk-!-font-size-16">
                                        {% for relatedLink in page.relatedContent %}
                                            <li>
                                                <a href="{{relatedLink.link}}">
                                                    {{relatedLink.text}}
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </nav>
                            </aside>
                        {% endif %}
                        {% if page.helpAndAdvice %}
                            <aside class="govuk-prototype-kit-common-templates-related-items">
                                <h3 class="govuk-heading-s" id="subsection-title2">{{ t('generic-page-help') }}</h3>
                                <nav>
                                    <ul class="govuk-list govuk-!-font-size-16">
                                        {% for helpLink in page.helpAndAdvice %}
                                            <li>
                                                <a href="{{helpLink.link}}">
                                                    {{helpLink.text}}
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </nav>
                            </aside>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>

{% endblock %}