{% extends "../partials/layout.njk" %}

{% block content %}

  <div class="govuk-grid-row govuk-!-padding-bottom-4 govuk-!-margin-top-4">
   
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Cookies</h1>

      <p>The 'Plan your future' service puts small files (known as ‘cookies’) onto your computer to collect information about how you browse the site.</p>
      <p>Only <b>essential</b> cookies are used on the site.</p>

      <p>Cookies are used to:</p>

      <ul class="govuk-list govuk-list--bullet govuk-!-padding-bottom-6">
        <li>measure how you use the website so it can be updated and improved based on your needs</li>
        <li>remember the notifications you’ve seen so that we don’t show them to you again</li>
      </ul>

      <p>These cookies aren’t used to identify you personally.</p>

      <p>Find out more about <a href="http://www.aboutcookies.org/">how to manage cookies</a>.</p>

      <h2 class="govuk-heading-l govuk-!-padding-top-8">
        How cookies are used on the service
      </h2>
      <h3 class="govuk-heading-m">
        Session
      </h3>

      <p>When you use the service, we’ll set a cookie to remember your progress through the site. These cookies don’t store your personal data and are deleted once you’ve completed the session.</p>

      <table class="govuk-table govuk-!-margin-bottom-8">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Name</th>
            <th scope="col" class="govuk-table__header">Purpose</th>
            <th scope="col" class="govuk-table__header">Expires</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" aria-label="Name">hmpps-resettlement-passport-person-on-probation-ui.session</td>
            <td class="govuk-table__cell" aria-label="Purpose">stores session ID</td>
            <td class="govuk-table__cell" aria-label="Expires">20 minutes</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

{% endblock %}