{% extends "../partials/layout.njk" %}

{% set pageTitle = "Cookies" + titleHeading %}
{% block content %}

  <div class="govuk-grid-row govuk-!-padding-bottom-4 govuk-!-margin-top-8">
   
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl" data-qa="cookies-page-title">{{ t('cookies-h1') }}</h1>

      <p>{{ t('cookies-paragraph-1') }}</p>
      <p>{{ t('cookies-paragraph-2') | safe }}</p>

      <p>{{ t('cookies-paragraph-3') }}</p>

      <ul class="govuk-list govuk-list--bullet govuk-!-padding-bottom-6">
        <li>{{ t('cookies-list-item-1') }}</li>
        <li>{{ t('cookies-list-item-2') }}</li>
      </ul>

      <p>{{ t('cookies-paragraph-4') }}</p>

      <p>{{ t('cookies-paragraph-5') }} <a href="http://www.aboutcookies.org/">{{ t('cookies-link') }}</a>.</p>

      <h2 class="govuk-heading-l govuk-!-padding-top-8">
        {{ t('cookies-h2') }}
      </h2>
      <h3 class="govuk-heading-m">
        {{ t('cookies-h3') }}
      </h3>

      <p>{{ t('cookies-session-paragraph') }}</p>

      <table class="govuk-table govuk-!-margin-bottom-8">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">{{ t('cookies-table-header-1') }}</th>
            <th scope="col" class="govuk-table__header">{{ t('cookies-table-header-2') }}</th>
            <th scope="col" class="govuk-table__header">{{ t('cookies-table-header-3') }}</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" aria-label="{{ t('cookies-table-label-1') }}">hmpps-resettlement-passport-person-on-probation-ui.session</td>
            <td class="govuk-table__cell" aria-label="{{ t('cookies-table-label-2') }}">{{ t('cookies-table-value-1') }}</td>
            <td class="govuk-table__cell" aria-label="{{ t('cookies-table-label-3') }}">{{ t('cookies-table-value-2') }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

{% endblock %}
