{% extends "../partials/layout.njk" %}
{% import "../partials/alertBoxMacro.njk" as alertBox %}

{% set pageTitle = "Dashboard" + titleHeading %}

{% block beforeContent %}
  {% set activePage = 'dashboard' %}
  {% include "../partials/subnavigation.njk" %}
{% endblock %}

{% block content %}


  <div class="govuk-grid-row govuk-!-padding-bottom-4">
    <div class="govuk-grid-column-full">
      {{ alertBox.render(tomorrowAppointments, todayAppointments) }}
      <p class="hmrc-caption govuk-caption-xl">
        <span class="govuk-visually-hidden">{{ t('dashboard-hidden-content') }} </span><span data-qa="pyf-dashboard-title">{{applicationName}}</span></p>

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-8" data-qa="pyf-dashboard-fullname">
        {{personalData.personalDetails.firstName}}
        {{personalData.personalDetails.lastName}}</h1>
    </div>

    <!-- appointment tile -->
      <div class="govuk-grid-column-one-third">

        <div id="appointments-tile" class="card">
          <div class="card-body active govuk-!-padding-bottom-6">
            <h2 class="govuk-heading-m card-heading govuk-!-padding-bottom-2">
              <a href="/appointments{{appendLanguage(queryParams)}}" data-qa="appointments-tile-title">{{ t('appointments-h1') }} </a>
            </h2>

            {% if nextAppointment %}
            <p  id="next-appointment-heading">{{ t('dashboard-next-appointment') }}</p>

            <p class="govuk-body-m govuk-!-margin-0">
              <b>{{nextAppointment.date | formatDate(queryParams.lang) }}</b>
            </p>
            <p class="govuk-body-m govuk-!-margin-0">{{nextAppointment.time | formatTime(0, queryParams.lang) }}
            {% if nextAppointment.duration %}
              - {{ nextAppointment.time | formatTime(nextAppointment.duration, queryParams.lang) }}
            {% endif %}
            </p>
            <p id="next-appointment-title" class="govuk-heading-s govuk-!-margin-0">{{nextAppointment.title}}</p>

            <span class="govuk-body-m" data-qa="appointments-tile-location">
              {% if nextAppointment.location | formatAppointmentLocation %}
                {{ nextAppointment.location | formatAppointmentLocation }}
              {% else %}
                {{ t('appointment-no-address') }}
              {% endif %}
            </span>
            {% else %}
              <div data-qa="appointment-tile-no-content" class="govuk-heading-s govuk-!-margin-0">
                <p>
                  {{ t('dashboard-no-future-appointment') }}
                </p>
                <p>{{ t('dashboard-check-appointment') }}
                </p>
              </div>
            {% endif %}
          </div>
        </div>

      </div>

    <!-- licence condition tile -->
      <div class="govuk-grid-column-one-third">
        <div class="card" id="licence-conditions-tile">
          <div id="licence-conditions-tile-body" class="card-body active govuk-!-padding-bottom-6">
            <h2 class="govuk-heading-m card-heading  govuk-!-padding-bottom-2">
              <a class="govuk-link card-link" href="/licence-conditions{{appendLanguage(queryParams)}}" data-qa="licence-conditions-tile-title">  {{ t('licence-conditions-h1') }}</a>
            </h2>
            {% if licenceExpiryDate %}
              <p class="govuk-body">{{ t('dashboard-licence-conditions-p1') }}</p>
              <p>{{ t('dashboard-licence-conditions-p2') }} {{licenceExpiryDate | formatLicenceDate(queryParams.lang) }}.</p>
            {% else %}
              <p class="govuk-body">{{ t('licence-conditions-not-found') }}</p>
            {% endif %}
          </div>
        </div>
      </div>

    <!-- profile tile -->
    <div class="govuk-grid-column-one-third">
        <div class="card" id="profile-tile">
            <div class="card-body active">
                <h2 class="govuk-heading-m card-heading  govuk-!-padding-bottom-2">
                    <a class="govuk-link card-link" href="/profile{{appendLanguage(queryParams)}}" data-qa="profile-tile-title">
                        {{ t('profile-h1') }}
                    </a>
                </h2>
                <p class="govuk-body">{{ t('dashboard-profile-p1') }}</p>
                <br>
            </div>
        </div>
    </div>
  </div>

{% endblock %}