{% extends "../partials/layout.njk" %}
{% import "../partials/alertBoxMacro.njk" as alertBox %}

{% block content %}

  {% set activePage = 'dashboard' %}
  {% include "../partials/subnavigation.njk" %}

  <div class="govuk-grid-row govuk-!-padding-bottom-4">
    <div class="govuk-grid-column-full">
      {{ alertBox.render(tomorrowAppointments, todayAppointments) }}
      <p class="hmrc-caption govuk-caption-xl">
        <span class="govuk-visually-hidden">This section is </span>{{applicationName}}</p>

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">
        {{personalData.personalDetails.firstName}}
        {{personalData.personalDetails.lastName}}</h1>
    </div>

    <!-- appointment tile -->
    {% if nextAppointment %}
      <div class="govuk-grid-column-one-third-from-desktop">

        <div id="appointments-tile" class="card">
          <div class="card-body active govuk-!-padding-bottom-6">
            <h2 class="govuk-heading-m card-heading govuk-!-padding-bottom-2">
              <a href="/appointments">Appointments</a>
            </h2>

            <p class="govuk-body-s" id="next-appointment-heading">Next appointment:</p>

            <p class="govuk-body-s govuk-!-margin-0">
              <b>{{nextAppointment.date | formatDate }}</b>
            </p>
            <p class="govuk-body-s govuk-!-margin-0">{{nextAppointment.time | formatTime }}
            {% if nextAppointment.duration %}
              - {{ nextAppointment.time | formatTime(nextAppointment.duration) }}
            {% endif %}
            </p>
            <p id="next-appointment-title" class="govuk-heading-s govuk-!-margin-0">{{nextAppointment.title}}</p>

            <span class="govuk-body-s">
              {% if nextAppointment.location | formatAppointmentLocation %}
                {{ nextAppointment.location | formatAppointmentLocation }}
              {% else %}
            No location available
          {% endif %}
            </span>
          </div>
        </div>

      </div>
    {% endif %}

    <!-- licence condition tile -->
    {% if licenceExpiryDate %}
      <div class="govuk-grid-column-one-third-from-desktop">
        <div class="card" id="licence-conditions-tile">
          <div id="licence-conditions-tile-body" class="card-body active govuk-!-padding-bottom-6">
            <h2 class="govuk-heading-m card-heading  govuk-!-padding-bottom-2">
              <a class="govuk-link card-link" href="/licence-conditions">Licence conditions</a>
            </h2>
            <p class="govuk-body">Understand the rules and conditions you need to follow.</p>
            <p>Your licence conditions expire on {{licenceExpiryDate | formatLicenceDate }}.</p>
          </div>
        </div>
      </div>
    {% endif %}

    <!-- profile tile -->
    <div class="govuk-grid-column-one-third-from-desktop">
        <div class="card" id="profile-tile">
            <div class="card-body active">
                <h2 class="govuk-heading-m card-heading  govuk-!-padding-bottom-4">
                    <a class="govuk-link card-link" href="/profile">
                        Profile
                    </a>
                </h2>
                <p class="govuk-body">Keep your personal information up to date.</p>
                <br>
            </div>
        </div>
    </div>
  </div>

{% endblock %}