{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Error" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}
 <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl govuk-!-margin-top-4" data-qa="error-page-title">Sorry, there is a problem with the service</h1>
    <p data-qa="error-page-message">{{ message }}</p>
    <h2>{{ status }}</h2>
    <pre>{{ stack }}</pre>
  </div>
</div>

{% endblock %}
