{% extends "../partials/layout.njk" %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}


{% set pageTitle = "Feedback" + titleHeading %}

{% macro errorClass(field) -%}
  {{ ' govuk-input--error' if errors | hasErrorWithPrefix([field, 'dobError']) else '' }}
{%- endmacro %}

{% block beforeContent %}
  {% include "../partials/limited-subnavigation.njk" %}
{% endblock %}

{% block content %}

    {% if errors | length > 0 %}
      {{ govukErrorSummary({
    titleText: t('generic-error-summary'),
    errorList: errors
  }) }}
    {% endif %}

    <div class="govuk-grid-row govuk-!-padding-bottom-6">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl" data-qa="feedback-questions-page-title">{{ t('feedback-questions-feedback-page-title') }}</h1>
        <form class="form" action="/feedback/questions/submit" method="post">
          <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>

          <p>
          {{ t('feedback-questions-feedback-text') }}
        </p>

          <div class="govuk-!-padding-top-8">
            {{ govukRadios({
              id: "score",
              name: "score",
              fieldset: {
                legend: {
                  text: t('feedback-questions-overall-satisfaction'),
                  isPageHeading: true,
                  classes: "govuk-fieldset__legend--l"
                }
              },
              errorMessage: {
                    text: scoreError.message
              } if scoreError,
              value: feedback.score,
              items: [
                {
                  value: t('feedback-questions-very-satisfied'),
                  text: t('feedback-questions-very-satisfied')
                },
                {
                  value: t('feedback-questions-satisfied'),
                  text: t('feedback-questions-satisfied')
                },
                {
                  value: t('feedback-questions-neither-satisfied'),
                  text: t('feedback-questions-neither-satisfied')
                },
                {
                  value: t('feedback-questions-dissatisfied'),
                  text: t('feedback-questions-dissatisfied')
                },
                {
                  value: t('feedback-questions-very-dissatisfied'),
                  text: t('feedback-questions-very-dissatisfied')
                }
              ]
            }) }}
          </div>

          <div class="govuk-!-padding-top-8">
            {{ govukTextarea({
                name: "details",
                id: "details",
                label: {
                  text: t('feedback-questions-comments'),
                  classes: "govuk-label--l",
                  isPageHeading: true
                },
                hint: {
                  text: t('feedback-questions-personal-information')
                },
                value: feedback.details
              }) }}
          </div>

          <div class="govuk-!-padding-top-8">
            {{ govukInput({
              label: {
                text: t('feedback-questions-name'),
                classes: "govuk-label--l",
                isPageHeading: true
              },
              id: "name",
              name: "name",
              value: feedback.name
            }) }}
          </div>

          <div class="govuk-!-padding-top-8">
            {{ govukInput({
              label: {
                text:t('feedback-questions-email'),
                classes: "govuk-label--l",
                isPageHeading: true
              },
              id: "email",
              name: "email",
              value: feedback.email,
              errorMessage: {
                    text: emailError.message
              } if emailError
            }) }}
          </div>

          <div class="govuk-!-padding-top-4">
            <button type="submit" class="govuk-button" data-module="govuk-button" data-qa="feedback-questions-btn">
          {{ t('feedback-questions-continue-btn') }}
        </button>
          </div>

        </form>
      </div>
    </div>

  {% endblock %}