{% extends "../partials/layout.njk" %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
  {% if user %}
    {% include "../partials/limited-subnavigation.njk" %}
  {% else %}
    <p class="govuk-!-margin-bottom-6">
    {% endif %}

    <div class="govuk-grid-row govuk-!-padding-bottom-6">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl" data-qa="feedback-review-page-title">Check your answers</h1>

        <form class="form" action="/feedback/submit" method="post">
          <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>

          <div>
            {{ govukSummaryList({
            classes: "govuk-!-margin-bottom-9",
            rows: [
              {
                key: {
                  text: "Overall, how satisfied	were you with this Service?"
                },
                value: {
                  text: "1"
                },
                actions: {
                  items: [
                    {
                      href: "#",
                      text: "Change",
                      visuallyHiddenText: "satisfaction score"
                    }
                  ]
                }
              },
              {
                key: {
                  text: "Is there anything you want	to tell us about using this Service?"
                },
                value: {
                  text: "I thought that bla bla bla"
                },
                actions: {
                  items: [
                    {
                      href: "#",
                      text: "Change",
                      visuallyHiddenText: "comments"
                    }
                  ]
                }
              },
              {
                key: {
                  text: "Your name (optional)"
                },
                value: {
                  html: "J Smith"
                },
                actions: {
                  items: [
                    {
                      href: "#",
                      text: "Change",
                      visuallyHiddenText: "name"
                    }
                  ]
                }
              },
              {
                key: {
                  text: "Your email address (optional)"
                },
                value: {
                  text: "test@gmail.com"
                },
                actions: {
                  items: [
                    {
                      href: "#",
                      text: "Change",
                      visuallyHiddenText: "email"
                    }
                  ]
                }
              }
            ]
          }) }}
          </div>

          <div class="govuk-!-padding-bottom-6">
        
          <p><b>Before you submit your feedback</b></p>
          <p>Do not include any personal or financial information.</p>

          </div>
          <button type="submit" class="govuk-button" data-module="govuk-button" data-qa="feedback-review-btn">
         Submit
        </button>

        </form>
      </div>
    </div>

  {% endblock %}