{% extends "../partials/layout.njk" %}

{% set pageTitle = "Feedback" + titleHeading %}

{% block beforeContent %}
  {% include "../partials/limited-subnavigation.njk" %}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row govuk-!-padding-bottom-6">
      <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl" data-qa="feedback-page-title">{{ t('feedback-start-page-title') }}</h1>
        <p>
          {{ t('feedback-start-form-description') }}
        </p>

        <p class="govuk-body">
        {{ t('feedback-start-paragraph-1') }}
      </p>

        <ul class="govuk-list govuk-list--bullet govuk-!-padding-bottom-4">
          <li>{{ t('feedback-start-list-item-1') }}</li>
          <li>{{ t('feedback-start-list-item-2') }}</li>
          <li>{{ t('feedback-start-list-item-3') }}</li>
        </ul>
        <p>
          {{ t('feedback-start-feedback-message') }}
        </p>
        <p>
          <a class="govuk-button govuk-button--start govuk-!-margin-top-4" data-qa="feedback-start-btn" role="button" data-module="govuk-button" href="/feedback/questions">
            <span data-qa="start-btn">
            {{ t('feedback-start-start-now') }}
          </span>
            <svg class="govuk-button__start-icon govuk-!-display-none-print" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" focusable="false" aria-hidden="true">
              <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
            </svg>
          </a>
        </p>

      </div>
    </div>

  {% endblock %}
