{% extends "../partials/layout_unbranded.njk" %}

{% block content %}
  {% set hidemenu = "yes" %}
  {% include "partials/masthead.njk" %}

  <div class="govuk-grid-row govuk-!-padding-bottom-8">
    <div class="govuk-grid-column-full">

      <h2 class="govuk-heading-m">
            Create a GOV.UK One Login or sign in
        </h2>

      <p>You'll need a GOV.UK One Login to use this service. If you do not have a GOV.UK One Login, you can create one.
        </p>

      <p class="govuk-body">You’ll need:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>an email address</li>
        <li>a way to get security codes - this can be a mobile phone number or an authenticator app</li>
      </ul>

    </div>
  </div>

  <div class="govuk-grid-row govuk-!-padding-bottom-8">
    <div class="govuk-grid-column-full center">
      <p class="govuk-!-margin-bottom-8">
        <a href="#" class="app_button">Sign in</a>
      </p>
      <p>
        <a href="#" class="app_button">Create a GOV.UK One Login</a>
      </p>
    </div>
  </div>

  <div class="govuk-grid-column-full">
    <div class="map-responsive">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2374.221849752107!2d-2.2365128232744804!3d53.482365772329075!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487bb1bec69573db%3A0x810a214dd86c9995!2s26%20Lever%20St%2C%20Manchester%20M1%201DZ!5e0!3m2!1sen!2suk!4v1685462406762!5m2!1sen!2suk" width="300" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>

{% endblock %}