{% extends "../partials/layout.njk" %}

{% block content %}
  {% set showsignout="false" %}

  <div class="govuk-grid-row govuk-!-padding-bottom-4">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-m">
            Create a GOV.UK One Login or sign in
      </h1>

      <div class="govuk-inset-text">
        You'll need a GOV.UK One Login to use this service. If you do not have a GOV.UK One Login, you can create one.
      </div>

      <p class="govuk-body">You’ll need:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>an email address</li>
        <li>a way to get security codes - this can be a mobile phone number or an authenticator app</li>
      </ul>

    </div>
  </div>

  <div class="govuk-grid-row govuk-!-padding-bottom-4">
    <div class="govuk-grid-column-full center">
      <p class="govuk-!-margin-bottom-2">
        <a href="/sign-in" class="govuk-button" data-module="govuk-button">
          Sign in
        </a>
      </p>
      <p>
      <a href="/sign-up" class="govuk-button" data-module="govuk-button">
          Create a GOV.UK One Login
      </a>
      </p>
    </div>
  </div>

{% endblock %}