{% extends "../partials/layout.njk" %}

{% block content %}

    {% set activePage = 'licence-conditions' %}
    {% include "../partials/subnavigation.njk" %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-8" data-qa="licence-conditions-page-title">Licence conditions</h1>
            <p>Licence conditions are the rules you must follow so you do not get recalled to prison.</p>
            <p>These are the licence conditions we are able to show you.</p>
            <p>You may have other licence conditions in addition to the ones shown. You should check with your probation officer.</p>
            <p>Your probation officer can explain anything you do not understand.</p>
        </div>
    </div>

    <div class="govuk-grid-row govuk-!-margin-top-8">
    <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-8">
        <h2 id="licence-dates" class="govuk-heading-m" data-qa="licence-conditions-dates">Licence expires on: {{licence.expiryDate | formatLicenceDate }}</h2>

        <p>You must:</p>
        <ul class="govuk-list govuk-list--spaced test">
            {% for x in licence.standardLicenceConditions %}
            <li>
                <div class="govuk-grid-row govuk-!-padding-bottom-6">
                    <div class="govuk-grid-column-full" data-qa="{{loop.index}}-licence-conditions-item">
                        {{loop.index}}. {{x.text}}
                    </div>
                </div>
                <hr>
            </li>
            {% endfor %}

            {% for y in licence.otherLicenseConditions %}
            <li>
                <div class="govuk-grid-row govuk-!-padding-bottom-6">
                    <div class="govuk-grid-column-full" data-qa="{{loop.index + licence.standardLicenceConditions.length }}-licence-conditions-item">
                        {{loop.index + licence.standardLicenceConditions.length }}. {{y.text}}
                    </div>
                    {% if y.image %}
                    <div class="govuk-grid-column-full govuk-!-margin-top-2">
                       <p><a id="condition-image-{{y.id}}-link" data-qa="{{loop.index + licence.standardLicenceConditions.length }}-licence-conditions-link" href="/licence-conditions/{{licence.licenceId}}/condition/{{y.id}}">View details</a></p>
                    </div>
                    {% endif %}
                </div>
                <hr>
            </li>
            {% endfor %}
        </ul>

        <p>The Supervising Officer is the Community Offender Manager.</p>
    </div>

    </div>

{% endblock %}