{% extends "../partials/layout.njk" %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% block content %}
  {% include "../partials/limited-subnavigation.njk" %}
  {% if error %}
    {{ govukErrorSummary({
    titleText: "There is a problem",
    errorList: [
      {
        text: error.message,
        href: "#otp"
      }
    ]
  }) }}
  {% endif %}

  <div class="govuk-grid-row govuk-!-padding-bottom-6">
    <div class="govuk-grid-column-full">

      <form class="form" action="/otp/verify" method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
        <h1 class="govuk-heading-xl govuk-!-padding-top-4">Enter the 6 digit security code</h1>

        <div class="govuk-inset-text">
          You can find your security code in the Plan your future pack your probation officer gave you.
        </div>

        <div class="govuk-form-group">
          {{ govukInput({
            label: {
              text: "This is the 6-digit security code we gave you in the information pack"
            },
            inputmode: "numeric",
            spellcheck: false,
            errorMessage: {
              text: error.message
            } if error,
            classes: "govuk-input--width-5",
            name: "otp",
            id: "otp"
          }) }}
        </div>

        <button type="submit" class="govuk-button" data-module="govuk-button">
          Continue
        </button>

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Problems with the code?
            </span>
          </summary>
          <div class="govuk-details__text">

            <p class="govuk-body">
              Call 000000 or contact your probation officer to get a new code.
            </p>
          </div>
        </details>
      </form>
    </div>
  </div>

{% endblock %}