{% extends "../partials/layout.njk" %}

{% block content %}
  {% set showsignout="true" %}

  <div class="govuk-grid-row govuk-!-padding-bottom-4">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">
        Enter the OTP
      </h1>

      <div class="govuk-inset-text">
        TEMP
      </div>


    </div>
  </div>

{% endblock %}