{% extends "../partials/layout.njk" %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}

{% macro errorClass(field) -%}
  {{ ' govuk-input--error' if errors | hasErrorWithPrefix([field, 'dobError']) else '' }}
{%- endmacro %}

{% block content %}
  {% include "../partials/limited-subnavigation.njk" %}
  {% if errors | length > 0 %}
    {{ govukErrorSummary({
    titleText: "There is a problem",
    errorList: errors
  }) }}
  {% endif %}

  <div class="govuk-grid-row govuk-!-padding-bottom-6">
    <div class="govuk-grid-column-full">

      <form class="form" action="/otp/verify" method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
        <h1 class="govuk-heading-xl">Complete your account setup securely</h1>
        <div class="govuk-inset-text">
          You can find your security code in the Plan your future pack your probation officer gave you.
        </div>

        <div class="govuk-!-margin-bottom-8">

          <div>
            {{ govukInput({
              hint: {
                text: "This is the 6-characters First-time ID code we gave you in the information pack"
              },
              inputmode: "text",
              label: {
                text: "Enter the 6 characters First-time ID code",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--m"
              },
              spellcheck: false,
              errorMessage: {
                text: otpError.message
              } if otpError,
              classes: "govuk-input--width-5",
              name: "otp",
              id: "otp"
            }) }}
          </div>
        </div>

        <div class="govuk-!-margin-bottom-8">
        {{ govukDateInput({
          id: "dob",
          errorMessage: {
            text: dobError.message
          } if dobError,
          namePrefix: "dob",
          fieldset: {
            legend: {
              text: "What is your date of birth?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "For example, 31 3 1980"
          },
          items: [
            {
              id: "dobDay",
              name: "dobDay",
              label: "Day",
              classes: "govuk-input--width-2" + errorClass('dob'),
              autocomplete: "bday-day"
            },
            {
              id: "dobMonth",
              name: "dobMonth",
              label: "Month",
              classes: "govuk-input--width-2" + errorClass('dob'),
              autocomplete: "bday-month"
            },
            {
              id: "dobYear",
              name: "dobYear",
              label: "Year",
              classes: "govuk-input--width-4" + errorClass('dob'),
              autocomplete: "bday-year"
            }
          ]
        }) }}

        </div>

        <button type="submit" class="govuk-button" data-module="govuk-button">
          Continue
        </button>

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Problems with the code?
            </span>
          </summary>
          <div class="govuk-details__text">

            <p class="govuk-body">
              Call 000000 or contact your probation officer to get a new code.
            </p>
          </div>
        </details>
      </form>
    </div>
  </div>

{% endblock %}