{% extends "../partials/layout.njk" %}
{% set pageTitle = "Overview" + titleHeading %}
{% block beforeContent %}
  {% set activePage = 'overview' %}
  {% include "../partials/subnavigation.njk" %}
{% endblock %}

{% block head %}
  {{ super() }}
  <link href="/assets/stylesheets/overview.css?{{ version }}" rel="stylesheet" />
{% endblock %}

{% block content %}
  {% set licenceExpiryDateFormatted = licenceExpiryDate | formatLicenceDate(queryParams.lang) %}

  <div class="govuk-grid-row govuk-!-padding-bottom-4">
    <div class="govuk-grid-column-full">
      {% if todayAppointments | length > 0 or tomorrowAppointments | length > 0 or isLicenceExpired or isLicenceChanged %}
        <div class="govuk-!-margin-bottom-4" data-qa="overview-alert-box">
          <div
            class="govuk-notification-banner"
            role="region"
            aria-labelledby="govuk-notification-banner-title"
            data-module="govuk-notification-banner"
          >
            <div class="govuk-notification-banner__header">
              <p class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                {{ t('overview-alert-important') }}
              </p>
            </div>
            <div class="govuk-notification-banner__content">
              {% if todayAppointments | length > 0 %}
                <p class="govuk-notification-banner__heading" data-qa="alert-box-today-msg">
                  {{ t('overview-alert-you-have') }}
                  <a href="/appointments">{{ todayAppointments.length }}</a>&nbsp;
                  {{ todayAppointments | pluraliseAppointments }}
                  {{ t('overview-alert-today') }}.
                </p>
              {% elif tomorrowAppointments | length > 0 %}
                <p class="govuk-notification-banner__heading" data-qa="alert-box-tomorrow-msg">
                  {{ t('overview-alert-you-have') }}
                  <a href="/appointments">{{ tomorrowAppointments.length }}</a>&nbsp;
                  {{ tomorrowAppointments | pluraliseAppointments }}
                  {{ t('overview-alert-tomorrow') }}.
                </p>
              {% endif %}
              {% if isLicenceExpired %}
                <p class="govuk-notification-banner__heading" data-qa="alert-box-licence-expired-msg">
                  {{ t('licence-conditions-expired') }}
                  {{ licenceExpiryDateFormatted }}.
                </p>
              {% elif isLicenceChanged %}
                <p class="govuk-notification-banner__heading" data-qa="alert-box-licence-changed-msg">
                  {{ t('licence-conditions-changed-1') }}
                  <a href="/licence-conditions">{{ t('licence-conditions-changed-2') }}</a>
                </p>
              {% endif %}
            </div>
          </div>
        </div>
      {% endif %}
      <p class="hmrc-caption govuk-caption-xl">
        <span class="govuk-visually-hidden">{{ t('overview-hidden-content') }} </span
        ><span data-qa="pyf-overview-title">{{ applicationName }}</span>
      </p>

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-8" data-qa="pyf-overview-h1">{{ t('overview-h1') }}</h1>
    </div>

    <div class="govuk-grid-column-full overview-cards-grid">
      <!-- appointment tile -->
      {% if flags.isEnabled('viewAppointmentsEndUser') %}
        <div id="appointments-tile" class="card">
          <div class="active govuk-!-padding-bottom-6">
            <h2 class="govuk-heading-m card-heading govuk-!-padding-bottom-2">
              <a
                href="/appointments{{ appendLanguage(queryParams) }}"
                data-qa="appointments-tile-title"
                track-tag-id="viewAppointmentTileLink"
                track-event-name="AppointmentTileLink"
                >{{ t('appointments-h1') }}
              </a>
            </h2>

            {% if nextAppointment %}
              <p class="govuk-body-s" id="next-appointment-heading">{{ t('overview-next-appointment') }}:</p>

              <p class="govuk-body-s">
                <span class="govuk-!-font-weight-bold">
                  {{ nextAppointment.date | formatLongDate(queryParams.lang) }}<br />
                </span>

                {{ nextAppointment.time | formatTime(0, queryParams.lang) }}
                {% if nextAppointment.duration %}
                  - {{ nextAppointment.time | formatTime(nextAppointment.duration, queryParams.lang) }}
                {% endif %}

                <span id="next-appointment-title" class="govuk-heading-s govuk-!-margin-0">
                  {{ nextAppointment.title }}
                </span>
              </p>
              <p class="govuk-body-s govuk-!-margin-0" data-qa="appointments-tile-location">
                {% if nextAppointment.location | formatAppointmentLocation %}
                  {{ nextAppointment.location | formatAppointmentLocation }}
                {% else %}
                  {{ t('appointment-no-address') }}
                {% endif %}
              </p>
            {% else %}
              <div data-qa="appointment-tile-no-content" class="govuk-heading-s govuk-!-margin-0">
                <p>{{ t('overview-no-future-appointment') }}</p>
                <p>{{ t('overview-check-appointment') }}</p>
              </div>
            {% endif %}
          </div>
        </div>
      {% endif %}

      <!-- licence condition tile -->
      <div class="card" id="licence-conditions-tile">
        <div id="licence-conditions-tile-body" class="active govuk-!-padding-bottom-6">
          <h2 class="govuk-heading-m card-heading  govuk-!-padding-bottom-2">
            <a
              class="govuk-link card-link"
              href="/licence-conditions{{ appendLanguage(queryParams) }}"
              data-qa="licence-conditions-tile-title"
              track-tag-id="viewLicenceConditionTileLink"
              track-event-name="LicenceConditionTileLink"
            >
              {{ t('licence-conditions-h1') }}</a
            >
          </h2>
          {% if isLicenceExpired %}
            <p class="govuk-body">{{ t('overview-licence-conditions-none') }}</p>
          {% elif licenceExpiryDate %}
            <p class="govuk-body">{{ t('overview-licence-conditions-p1') }}</p>
            <p>{{ t('overview-licence-conditions-p2') }} {{ licenceExpiryDateFormatted }}.</p>
          {% else %}
            <p class="govuk-body">{{ t('licence-conditions-not-found') }}</p>
          {% endif %}
        </div>
      </div>

      <!-- todo tile -->
      {% if flags.isEnabled('todoList') %}
        <div class="card" id="todo-tile">
          <div class="active">
            <h2 class="govuk-heading-m card-heading  govuk-!-padding-bottom-2">
              <a
                class="govuk-link card-link"
                href="/todo{{ appendLanguage(queryParams) }}"
                track-tag-id="todoTileLink"
                track-event-name="TodoTileLink"
                data-qa="todo-tile-title"
              >
                {{ t('todo-list-h1') }}
              </a>
            </h2>
            <p class="govuk-body">{{ t('overview-todo-p1') }}</p>
            {% if todoCounts %}
              <p class="govuk-body">
                {{ t('overview-todo-p2-part-1') }}
                <strong>{{ todoCounts.pending }}</strong> {{ t('overview-todo-p2-part-2') }}
              </p>
            {% endif %}
          </div>
        </div>
      {% endif %}

      <!-- Documents tile -->
      {% if flags.isEnabled('viewDocuments') %}
        <div class="card" id="documents-tile">
          <div class="active">
            <h2 class="govuk-heading-m card-heading  govuk-!-padding-bottom-2">
              <a
                class="govuk-link card-link"
                href="/documents{{ appendLanguage(queryParams) }}"
                track-tag-id="viewDocumentsTileLink"
                track-event-name="DocumentTileLink"
                data-qa="document-tile-title"
              >
                {{ t('documents-h1') }}
              </a>
            </h2>
            <p class="govuk-body">{{ t('overview-documents-p1') }}</p>
            <br />
          </div>
        </div>
      {% endif %}
      <!-- profile tile -->
      <div class="card" id="profile-tile">
        <div class="active">
          <h2 class="govuk-heading-m card-heading  govuk-!-padding-bottom-2">
            <a
              class="govuk-link card-link"
              href="/profile{{ appendLanguage(queryParams) }}"
              track-tag-id="viewProfileTileLink"
              track-event-name="ProfileTileLink"
              data-qa="profile-tile-title"
            >
              {{ t('profile-h1') }}
            </a>
          </h2>
          <p class="govuk-body">{{ t('overview-profile-p1') }}</p>
          <br />
        </div>
      </div>
    </div>
  </div>

  {% if personalLinks.length > 0 %}
    <section id="personalised-links">
      <div class="govuk-grid-row govuk-!-padding-top-4">
        <div class="govuk-grid-column-full">
          <h2 class="govuk-heading-m">For you</h2>
        </div>
        <div class="govuk-grid-column-one-third-from-desktop">
          <ul class="govuk-list govuk-list--bullet">
            {% for link in personalLinks %}
              <li>
                <a href="/pages/{{ link.slug }}">{{ link.title }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </section>
  {% endif %}
  {% if otherLinks.length > 0 %}
    <section id="content-links">
      <div class="govuk-grid-row govuk-!-padding-top-4">
        <div class="govuk-grid-column-full">
          <h2 class="govuk-heading-m">All resettlement topics</h2>
        </div>
        <div class="govuk-grid-column-one-third-from-desktop">
          <ul class="govuk-list govuk-list--bullet">
            {% for link in otherLinks %}
              <li>
                <a href="/pages/{{ link.slug }}">{{ link.title }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </section>
  {% endif %}
{% endblock %}

{% block bodyEnd %}
  <script src="/assets/sessionMonitor.js"></script>
{% endblock %}
