{% extends "../partials/layout.njk" %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% block content %}

  {% set activePage = 'profile' %}
  {% include "../partials/subnavigation.njk" %}

  <div class="govuk-grid-row govuk-!-padding-bottom-4">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl" data-qa="profile-page-title">{{ t('profile-h1') }}</h1>
      <p>{{ t('profile-p1') }}</p>
      <p>{{ t('profile-p2') }}</p>
    </div>
  </div>

  <div class="govuk-grid-row govuk-!-padding-bottom-8">
    <div class="govuk-grid-column-two-thirds">
    {{ govukSummaryList({
        rows: [
          {
            key: {
              text: t('profile-name')
            },
            value: {
              text: fullName,
              classes: "profile-name"
            }
          },
          {
            key: {
              text: t('profile-email')
            },
            value: {
              html: email | orElse(t('profile-not-available')),
              classes: "profile-email"
            }
          },
          {
            key: {
              text: t('profile-mobile')
            },
            value: {
              html: mobile | orElse(t('profile-not-available')),
              classes: "profile-mobile"
            }
          }
        ]
      }) }}

    </div>
  </div>

{% endblock %}