{% extends "../partials/layout.njk" %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% block content %}

  {% set activePage = 'profile' %}
  {% include "../partials/subnavigation.njk" %}

  <div class="govuk-grid-row govuk-!-padding-bottom-4">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Profile</h1>
      <p>Keep this information up to date and tell your offender manager if you change your email or phone number.</p>
    </div>
  </div>

  <div class="govuk-grid-row govuk-!-padding-bottom-8">
    <div class="govuk-grid-column-two-thirds">
    {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Name"
            },
            value: {
              text: fullName,
              classes: "profile-name"
            }
          },
          {
            key: {
              text: "Email address"
            },
            value: {
              html: email | orElse('Not available'),
              classes: "profile-email"
            }
          },
          {
            key: {
              text: "Mobile"
            },
            value: {
              html: phone | orElse('Not available'),
              classes: "profile-mobile"
            }
          }
        ]
      }) }}

    </div>
  </div>

{% endblock %}