{% extends "../partials/layout.njk" %}

{% block content %}

  {% set activePage = 'settings' %}
  {% include "../partials/subnavigation.njk" %}

  <div class="govuk-grid-row govuk-!-padding-bottom-4">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Settings</h1>
    </div>
  </div>

  <div class="govuk-grid-row govuk-!-padding-bottom-8">

    <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">
      Your sign in details
    </h2>
     <p>You can change the details you use to sign in to the Plan your future service at <a href="{{oneloginUrl}}/security" target+"_blank"  data-qa="change-onelogin-link">GOV.UK One Login</a>.</p>
     <p>Any changes will not be shown on the profile page of Plan your future.</p>
     <p>If you need to update the contact details shown in your profile, your Probation Officer can do this for you. It is important you keep your profile details up-to-date.</p>

    </div>
  </div>

{% endblock %}