{% extends "../partials/layout.njk" %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% set pageTitle = "Complete your account setup securely" + titleHeading %}

{% macro errorClass(field) -%}
  {{ ' govuk-input--error' if errors | hasErrorWithPrefix([field, 'dobError']) else '' }}
{%- endmacro %}



{% block beforeContent %}
  {% include "../partials/limited-subnavigation.njk" %}
{% endblock %}

{% block content %}
  {% if errors | length > 0 %}
    {{
      govukErrorSummary({
        titleText: t('generic-error-summary'),
        errorList: errors
      })
    }}
  {% endif %}
  <div class="govuk-grid-row govuk-!-padding-bottom-6">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="/sign-up/verify" method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
        <h1 class="govuk-heading-xl">{{ t('verification-h1') }}</h1>

        <div class="govuk-!-margin-bottom-8">
          <div>
            {{
              govukInput({
                inputmode: "text",
                label: {
                  text: t('verification-label-first-name'),
                  isPageHeading: false,
                  classes: "govuk-fieldset__legend--m"
                },
                spellcheck: false,
                errorMessage: {
                  text: validationErrors.firstName
                } if validationErrors.firstName,
                classes: "govuk-input--width-20",
                name: "firstName",
                id: "firstName",
                autocomplete: 'given-name'
              })
            }}
          </div>
        </div>

        <div class="govuk-!-margin-bottom-8">
          <div>
            {{
              govukInput({
                inputmode: "text",
                label: {
                  text: t('verification-label-last-name'),
                  isPageHeading: false,
                  classes: "govuk-fieldset__legend--m"
                },
                spellcheck: false,
                errorMessage: {
                  text: validationErrors.lastName
                } if validationErrors.lastName,
                classes: "govuk-input--width-20",
                name: "lastName",
                id: "lastName",
                autocomplete: 'family-name'
              })
            }}
          </div>
        </div>

        <div class="govuk-!-margin-bottom-8">
          {{
            govukDateInput({
              id: "dob",
              errorMessage: {
                text: validationErrors.dateOfBirth
              } if validationErrors.dateOfBirth,
              namePrefix: "dob",
              fieldset: {
                legend: {
                  text: t('verification-label-dob'),
                  isPageHeading: false,
                  classes: "govuk-fieldset__legend--m"
                }
              },
              hint: {
                text: t('verification-hint-dob')
              },
              items: [
                {
                  id: "dobDay",
                  name: "dobDay",
                  label: t('verification-input-day'),
                  classes: "govuk-input--width-2" + errorClass('dob'),
                  autocomplete: "bday-day"
                },
                {
                  id: "dobMonth",
                  name: "dobMonth",
                  label: t('verification-input-month'),
                  classes: "govuk-input--width-2" + errorClass('dob'),
                  autocomplete: "bday-month"
                },
                {
                  id: "dobYear",
                  name: "dobYear",
                  label: t('verification-input-year'),
                  classes: "govuk-input--width-4" + errorClass('dob'),
                  autocomplete: "bday-year"
                }
              ]
            })
          }}
        </div>

        <div class="govuk-!-margin-bottom-8">
          <div>
            {{
              govukInput({
                inputmode: "text",
                label: {
                  text: t('verification-label-prisoner-number'),
                  isPageHeading: false,
                  classes: "govuk-fieldset__legend--m"
                },
                hint: {
                  text: t('verification-hint-prisoner-number')
                },
                spellcheck: false,
                errorMessage: {
                  text: validationErors.prisonerNumber
                } if validationErrors.prisonerNumber,
                classes: "govuk-input--width-5",
                name: "prisonerNumber",
                id: "prisonerNumber"
              })
            }}
          </div>
        </div>

        <button type="submit" class="govuk-button" data-module="govuk-button" data-qa="verification-submit-btn">
          {{ t('verification-btn') }}
        </button>
      </form>
    </div>
  </div>
{% endblock %}

{% block bodyEnd %}
  <script src="/assets/sessionMonitor.js"></script>
{% endblock %}
